.money {
  text-align: right;
  white-space: nowrap;
}
.money.positive {
  color: green;
}
.money.negative {
  color: red;
}
.category {
  padding: 1px 15px;
}
.category .progress {
  margin-top: 2px;
}
.note {
  font-size: smaller;
}
.withProgress {
  padding: 2px;
  margin-bottom: 2px;
}
.withProgress .progress {
  margin-bottom: 0;
}
